.main-navbar {
    height: 56px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.main-footer {
    padding: 0.5em;
    position: fixed;
    bottom: 0;
}

.main-footer > a {
    margin-right: 1em;
}
 