/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Galada&display=swap');

h1 {
  font-family: 'Galada';
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 0.25em;
  padding-right: 0.25em;
  padding-top: 0.25em;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: rgba(255, 255, 255, 0.95);
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

#root {
  min-height: 100vh;
  height: 100%;
  background: url('https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1080&w=1980');
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

/* BUTTONS */

button {
  border-radius: 1em !important;
  padding-left: 0.5em !important;
  padding-right: 0.5em !important;
}

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled {
  background-color: #1b72b9;
  border-color: #1b72b9;
}

.btn-success {
  background-color: #20a69b;
  border-color: #20a69b;
}

.btn-success:hover, .btn-success:disabled {
  background-color: #146962;
  border-color: #146962;
}

.btn-danger {
  background-color: #e25125;
  border-color: #e25125;
}

.btn-danger:hover {
  background-color: #a33b1b;
  border-color: #a33b1b;
}

.btn-warning {
  color: white;
  background-color: #faa629;
  border-color: #faa629;
}

.btn-warning:hover {
  background-color: #b87a1c;
  border-color: #b87a1c;
}

.btn-secondary {
  color: black;
  background-color: white;
  border-color: white;
}

.btn-secondary:hover, .btn-secondary:disabled, .btn-secondary:active, .btn-secondary:focus {
  color: black !important;
  background-color: #eceff0 !important;
  border-color: #eceff0 !important;
}

.show > .btn-primary.dropdown-toggle {
  background-color: #2196f3;
  border-color: #2196f3;
}

.show > .btn-secondary.dropdown-toggle {
  color: black;
  background-color: white;
  border-color: white;
}

/* CARDS */

.card {
  background: rgba(0, 0, 0, 0.3);
  color: white;
  border: 0px;
}

.card-header{
  background-color: rgba(0, 0, 0, 0.6);
  color:white;
}

.card-body {
  background-color: rgba(0, 0, 0, 0.3);
  color:white;
}

/* TABLES */

.table {
  color:white;
}

/* NAVBAR */

.navbar {
  z-index: 1000;
}