body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary {
  background-color: #2196f3;
  border-color: #2196f3;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:disabled {
  background-color: #1b72b9;
  border-color: #1b72b9;
}

.btn-success {
  background-color: #20a69b;
  border-color: #20a69b;
}

.btn-success:hover, .btn-success:disabled {
  background-color: #146962;
  border-color: #146962;
}

.btn-danger {
  background-color: #e25125;
  border-color: #e25125;
}

.btn-danger:hover {
  background-color: #a33b1b;
  border-color: #a33b1b;
}

.btn-warning {
  color: white;
  background-color: #faa629;
  border-color: #faa629;
}

.btn-warning:hover {
  background-color: #b87a1c;
  border-color: #b87a1c;
}

.show > .btn-primary.dropdown-toggle {
  background-color: #00aaaa;
  border-color: #00aaaa;
}

#root {
  min-height: 100vh;
  height: 100%;
  background-color: black;
  color: white;
  /*background-color: #F1C40F;*/

  /*background: linear-gradient(-45deg, #221c37, #b83c82, #221c37,  #b83c82);
  background-size: 400%;
  animation: gradientAnim;
  animation-duration: 60s;  
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  */
}

@keyframes gradientAnim {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 100%;
  }
}

.card {
  background: rgba(255,255,255, 0.2);
  color: white;
  border: 0px;
}

.card-header{
  background: rgba(0,0,0, 0.5);
  color:white;
}

.card-body {
  background: rgba(255,255,255, 0.05);
  color:white;
}

.table {
  color:white;
}

a {
  color: #34c1d6;
}

a:hover {
  color: #fce5ec;
}

.dropdown-toggle {
  background:white;
  color:black;
}