.randomizer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
}

.randomizer > h1 {
    margin-top: 0.5em;
    text-align: center;
}

.randomizer-showFilterButton {
    margin: 0.5em;
    background-color: Transparent;
    outline:none;
    color:white; 
    border:none;
}

.randomizer-approveButton {
    margin-bottom: 0.5em;
}
