.list-entry{
    margin-bottom: 0.5em;
    color: #2b2b2b;
}

.list-entry > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
    width: 100vw;
    max-width: 360px;
}

.categoryEntry-name {
    font-size:21px;
    margin-bottom: 0.5em;
}

.list-entry > div > .buttons > button {
    margin-right: 0.4em;
}
