.input-group-text {
    background-color: rgba(0, 0, 0, 0) !important;
    color:white;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: rgba(255, 255, 255, 0.5);
    border: none;
    margin-left: 4px;
    margin-right: 4px;
}

.filter-title {
    width:100%;
}
.filter-container {
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    justify-content: flex-start;
}
@media only screen and (min-width: 600px) {
    .category-filter {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0.75em 0em;
        width:100%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .category-filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.75em 0em;
        width:100%;
    }
  }


.filter-typeselect {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.distance-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}
.distance-filter > form {
    margin: 0em 0em;
}
.distance-filter > form > .form-group {
    margin: 0;
}
.filter-typeselect > .dropdown {
    margin: 0em 0.5em;
}

.filter-typeselect > .input-group {
    width: inherit !important;
    display: flex;
    flex: 1;
    margin-bottom: 0.5em;
}

.filter-typeselect > .input-group > .input-group-prepend {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}

.filter-typeselect > .input-group > .input-group-prepend > .input-group-text {
    flex: 1;
}

.input-group-text {
    background-color: rgba(255, 255, 255, 0.85);
}

.filter-typeselect > .input-group > .input-group-prepend > .dropdown {
    display: flex;
    flex: 1;
}

.distance-filter > .input-group {
    display:flex;
    align-items: center;
    justify-content:center;
}