@media only screen and (min-width: 600px) {
  .randomizer-resultContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em; 
    margin-top: 1em;
  }
}

@media only screen and (max-width: 600px) {
  .randomizer-resultContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1em; 
  }
}

.randomizer-resultDetails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.randomizer-resultContent > h1 {
    background: none;
    text-align:center;
}

.randomizer-resultContent > .randomizer-resultContent-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
}

.link-button {
  border-radius: 1em !important;
  margin: 0.5em;
  background-color: rgba(0, 0, 0, 0.3);
  color:white; 
  border:none;
}

.link-button:hover, .link-button:focus, .link-button:active {
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
}

.randomizer-resultApproval {
  margin: 1em;
  text-align: center;
}
