.categoryList {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.categoryList-buttonGroup {
    align-self: flex-start;
}
.categoryList-backButton {
    align-self: flex-start;
}

.categoryList-addButton {
    margin-left: 0.5em;
    align-self: flex-start;
}

.categoryList-title {
    margin: 0.5em;
}