.foodmodel-canvas {
    width: 400px;
    height: 400px;
    max-width: 85vw;
    max-height: 85vw;
}

.foodmodel-canvas > * > .p5Canvas {
    pointer-events: none;
    width: 100% !important;
    height: 100% !important;
}

.foodmodel {
    margin-top: auto;
}