.suggestion-entry{
    margin-bottom: 0.5em;
    color: #2b2b2b;
}

.suggestionList-title {
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

.suggestion-entry > .buttons > button {
    margin-right: 0.4em;
}

.suggestion-entry > .card-header.ADD {
    background-color: #9bcd65;
}

.suggestion-entry > .card-header.REMOVE {
    background-color: #ed5351;
}

.suggestion-entry > .card-header.EDIT {
    background-color: #faa629;
}

.suggestionlist {
    max-width: 100vw
}

.table-responsive-sm {
    overflow-x: auto;
    margin: auto;
}

.text-centered {
    text-align:center;
}