.photo-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1em;
    width: 360px;
    height: 100%;
    margin: auto;
}

.attributions-link {
    font-size: 11px;
}
