@media screen and (max-width: 992px) {
    .add-form>*>button {
        margin-bottom: 5px;
        padding: 0.5em 50px;
        width: 100%;
        flex-grow:1;
    }
}

@media screen and (min-width: 992px) {
    .add-form>*>button {
        margin-right: 5px;
        width: 10em;
        flex-grow:1;
    }
}

.add-form > div > .alert {
    margin-top: 0.5em;
}

.btn-toolbar {
    justify-content: space-between;
}

.name-field:focus {
    margin-bottom: 0em;
}

.address-field {
    display:flex;
    flex-direction: row;
}
.restaurant-form {
    background: rgba(0,0,0,0.5);
    padding: 2em;
    border-radius: 1em;
    min-width:320px;
}

.add-form > .map > .leaflet-container {
    width: 420px;
    height: 420px;
}
