.randomizer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.randomizer > h1 {
    text-align: center;
}

.restaurant-url {
    color: #A0E7E3;
}

.restaurant-url:hover {
    color: #E7A0E3;
}