.restaurant-entry{
    margin-bottom: 0.5em;
    color: #2b2b2b;
}

.restaurant-entry > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;
}

.restaurant-entry > div > .buttons > button {
    margin-right: 0.4em;
}

