.restaurant-entry{
    margin-bottom: 0.5em;
}

.restaurant-entry > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.75em;
}

button {
    margin-right: 0.4em;
}
