@media screen and (max-width: 992px) {
    .add-form>*>button {
        margin-bottom: 5px;
        padding: 0.5em 50px;
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .add-form>*>button {
        margin-right: 5px;
        width: 10em;
    }
}

.add-form > div > .alert {
    margin-top: 0.5em;
}

.category-form {
    background: rgba(0,0,0,0.5);
    padding: 2em;
    border-radius: 1em;
}
